## Algoritmo de Agrupamiento
### K-Means

Alumno: Leonardo Neyra Oca√±a

UPAO 2018-10

In [2]:
#importar paquetes
import numpy as np
import random as rn
import pandas as pd
import math as mt

In [3]:
#Funcion de Creacion del dataset
def crearDataSet():
    x = [14,15,14,16,18,20]
    y = [28,29,30,35,28,43]
    df = pd.DataFrame({'X': x, 'Y': y})
    return df

In [4]:
#Generar dataset
datos = crearDataSet()
datos

    X   Y
0  14  28
1  15  29
2  14  30
3  16  35
4  18  28
5  20  43

In [7]:
#Creacion de puntos
p1 = np.array([0,0])
p2 = np.array([50,50])
p1, p2

(array([0, 0]), array([50, 50]))

In [39]:
#Funcion para calcular distancias
def calcularDistancias(dt):
    v = [None]*(dt.X.size)
    d1 = np.sqrt(np.power((dt.X[0:]-p1[0]),2)+np.power((dt.Y[0:]-p1[1]),2))
    d2 = np.sqrt(np.power((dt.X[0:]-p2[0]),2)+np.power((dt.Y[0:]-p2[1]),2))
    row = np.where(d1<=d2, 1, 2)
    v[0] = row
    dt['D1'] = d1
    dt['D2'] = d2
    dt['V'] = v[0]
    return dt

In [38]:
#Calcular distancias
dist = calcularDistancias(datos)
dist

    X   Y  V         D1         D2
0  14  28  1  31.304952  42.190046
1  15  29  1  32.649655  40.816663
2  14  30  1  33.105891  41.182521
3  16  35  2  38.483763  37.161808
4  18  28  1  33.286634  38.832976
5  20  43  2  47.423623  30.805844

In [40]:
#Funciona para actualizar puntos
def actualizarPuntos(dt, p1, p2):
    sx1 = 0
    sy1 = 0
    sx2 = 0
    sy2 = 0
    c1 = 0
    c2 = 0
    for i in range(dt.X.size):
        if(dt.V[i] == 1):
            sx1 += dt.X[i] 
            sy1 += dt.Y[i] 
            c1 += 1
        else:
            sx2 += dt.X[i] 
            sy2 += dt.Y[i] 
            c2 += 1
    p1[0] = sx1/c1
    p1[1] = sy1/c1
    p2[0] = sx2/c2
    p2[1] = sy2/c2
    puntos = {"P1": (p1), "P2": (p2)}
    nuevosPuntos = pd.DataFrame(puntos)
    return nuevosPuntos

In [42]:
#Actualizar puntos
actualizarPuntos(dist, p1, p2)

   P1  P2
0  15  18
1  28  39

In [43]:
#Funcion Kmeans
def kmeans(dt, p1, p2):
    while True:
        x1 = p1[0]
        y1 =p1[1]
        x2 = p2[0]
        y2 = p2[1]
        calD = calcularDistancias(dt)
        new = actualizarPuntos(calD, p1, p2)
        p1 = new.P1
        p2 = new.P2
        if(x1 == p1[0] and y1 == p1[1] and x2 == p2[0] and y2 == p2[1]):
            break
    return new

In [45]:
kmeans(datos, p1, p2)

   P1  P2
0  15  18
1  28  39